<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">


    <div class="flex items-center justify-between h-54 mb-4 rounded bg-[#168CCE] dark:bg-gray-800">
      <div>
        <p class="text-xl md:text-4xl md:ml-10 text-[#0A0A1F] dark:text-gray-500">NEED TO ACCESS YOUR <br/>MEDICAL RECORDS</p>
        <button class="md:ml-10 border border-[#22214F] hover:border-[#FFF] rounded-lg p-2 mt-2 bg-[#FFF] hover:bg-[#22214F] hover:text-[#FFF]">ADD PATIENT</button>
      </div>

      <p><%= image_tag "mandoc.png", class: "relative h-40 md:h-52 right-6 md:right-10 bottom-6 mr-6 md:mr-10"%></p>
    </div>


    <div class="grid grid-cols-4 gap-4 mb-4">
      <div class="flex items-center justify-center h-28 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">One</p>
      </div>
      <div class="flex items-center justify-center h-28 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Two</p>
      </div>
      <div class="flex items-center justify-center h-28 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Three</p>
      </div>
      <div class="flex items-center justify-center h-28 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Four</p>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Left</p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Right</p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Left</p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Right</p>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-gray-400 dark:text-gray-500">Wide</p>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Left</p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Right</p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Left</p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">Right</p>
      </div>
    </div>
  </div>
</div>